force-app/main/default/flows/Sample_Flow_using_Record_Clone_with_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Copyright (c) 2020, salesforce.com, inc.
  All rights reserved.
  SPDX-License-Identifier: BSD-3-Clause
  For full license text, see LICENSE.txt file in the repo root or https://opensource.org/licenses/BSD-3-Clause 
-->
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddToSelectedIds</name>
        <label>Add to selectedIds variable</label>
        <locationX>613</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignIdsToVariable</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Sample Flow using Record Clone with Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample Flow using Record Clone with Flow</label>
    <loops>
        <name>AssignIdsToVariable</name>
        <label>Assign opportunity ids to a collection variable</label>
        <locationX>256</locationX>
        <locationY>290</locationY>
        <assignNextValueToReference>loopVar</assignNextValueToReference>
        <collectionReference>SampleGetOpportunityIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddToSelectedIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SampleScreen_Flow_using_Record_Clone</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>SampleGetOpportunityIds</name>
        <label>Sample - Get opportunity ids</label>
        <locationX>49</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignIdsToVariable</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Sample_Complete_Screen</name>
        <label>Sample Complete Screen</label>
        <locationX>730</locationX>
        <locationY>49</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sample_Complete_Text</name>
            <fieldText>&lt;p&gt;Clone Completed!!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SampleScreen_Flow_using_Record_Clone</name>
        <label>Sample Flow using Record Clone</label>
        <locationX>268</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CallRecordClone</targetReference>
        </connector>
        <fields>
            <name>showSelectedIds</name>
            <fieldText>&lt;p&gt;Thank you for using Record Clone for Flow!! &lt;/p&gt;&lt;p&gt;{!selectedIds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SampleGetOpportunityIds</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CallRecordClone</name>
        <label>Call RecordClone Flow</label>
        <locationX>510</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Sample_Complete_Screen</targetReference>
        </connector>
        <flowName>Record_Clone_multiple_records</flowName>
        <inputAssignments>
            <name>selectedIds</name>
            <value>
                <elementReference>selectedIds</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>loopVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
